* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

html  { 
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth ;
}

.contenitore {
    position: relative ;
    width: 100% ;
    height: 100vh ;
}

#rosso {
    background-color: red ;
}

#verde {
    background-color: green ;
}

#giallo {
    background-color: yellow ;
}

#giallo .descrizione {
    color: green ;
}

nav {
    position: fixed ;
    top: 10px ;
    right: 5px ;
    z-index: 1 ;
}

ul {
    list-style: none ;
}

li {
    display: inline ;
    padding: 0 5px ;
}

.cerchio-nav {
    display: inline-block ;
    background-color: white ;
    width: 20px ;
    height: 20px ;
    border-radius: 20px ;
    text-align: center ;
}

li a {
    text-decoration: none ;
    
}

.prodotto {
    position: absolute ;
    top: 50% ;
    left: 50% ;
    width: 50% ;
    transform: translate(-50%, -50%) ;
    text-align: center ;
}

.scarpa {
    width: 100% ;
}

.descrizione {
    text-transform: uppercase ;
    color: yellow ;
    font-size: 3em ;
    font-weight: bolder ;
}

